:root{
    --verde: #DBECE0;
    --blanco: #FAF9F9;
    --beige: #F0DFCC;
    --purple: #E0D8ED;
    --negro: #000000;
}
.servicios_title{
    text-align: center;
}
main{
    height: auto;
    padding: 10px 20px;
    background-color: var(--verde);
    font-size: 20px;
}
.main_imgContainerUs{
    width: 50%;
}
.main_imgUs{
    width: 100%;
    display: block;
}
.main_pContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.personas_title{
    margin: 40px 0;

    font-size: 24px;
    text-align: center;
}
.team{
    padding: 60px 40px 20px 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
}
.team_container{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    text-align: right;
}
.team_tile{
    font-size: 50px;
    width: 100%;
}
.team_container:nth-child(2){
    text-align: left;
}
.team_subtitle{
    width: 100%;
}
.team_description{
    width: 100%;
}
.persona_container{
    width: 30%;
    display: flex;
    align-items: center;
}
.perona_img{
    display: block;
    object-fit: cover;
    width: 80%;
    border-radius: 15px;
    margin: auto;
}
.mandv{
    background-color: var(--verde);
    padding: 150px 0 130px 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4em;
    width: 100%;
}
.mandv_title{
    font-size: 40px;
}
.mandv_container{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.mandv_title{
    text-align: center;
}